<div ng-controller="controller">
  <div class="pantalla">
    <div style="background-color: black">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="500">
            <img
              src="https://www.comunidad.madrid/sites/default/files/styles/colorbox_modal/public/doc/sanidad/drog/cannabis_plantacion.jpg?itok=E8HoucXT"
              class="d-block w-100 img-fluid img-opaca"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>LA GRANJA DE LA FELICIDAD</h5>
              <p>Conoce como cultivar y cuidad tus amigos</p>
            </div>
          </div>
          <div class="carousel-item" bsdata--interval="500">
            <img
              src="https://www.cdc.gov/marijuana/featured-topics/images/cannabis-plant.jpg?_=33642"
              class="d-block w-100 img-fluid img-opaca"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>El cannabis es vida</h5>
              <p>El cannabis calma los dolores y se utiliza como medicina</p>
            </div>
          </div>
          <div class="carousel-item" bsdata--interval="500">
            <img
              src="http://agenciadenoticias.unal.edu.co/fileadmin/Agencia_de_Noticias/Imagenes/2022/08-Agosto/362/AgenciaUNAL-010822-01.jpg"
              class="d-block w-100 img-fluid img-opaca"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>¿Sabias qué?</h5>
              <p>Los mangos potencian los efectos de la marihuana</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="homecontainer">
      <div class="form-container-home">
        <h1>
          <button
            class="btn"
            data-bs-toggle="offcanvas"
            (click)="home()"
            role="button"
            aria-controls="offcanvasExample"
          >
            <img src="../../../assets/image/logo.png " width="70" height="50" />
            <div class="text-center text-white">HOME</div>
          </button>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="form-container">
        <h2 class="text-center">Bienvenidos</h2>
        <img src="../../../assets/image/toallin.png" alt="" width="100" height="120">
        <br>
        <div class="input-container">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username" class="form-input" />
            </div>
        </div>
    
  
            <p-password
                [(ngModel)]="value3"
                [feedback]="false"
                [toggleMask]="true"
                placeholder="Password"
                class="form-input"
            ></p-password>
        
    
            <div class="button-container">
              <button class="btn btn-sign-up" (click)="showModal()">Registrarse</button>
              <button type="submit" class="btn btn-sign-in" (click)="login()">Ingresar</button>
          </div>
    </div>
    
      <p-dialog
        [(visible)]="visibleA"
        [style]="{ width: 'auto' }"
        [modal]="true"
        class="center"
        styleClass="p-fluid"
        [baseZIndex]="999"
      >
        <h2 class="text-center">¿Cómo te quieres registrar?</h2>
        <br />
        <button
          type="submit"
          class="btn btn-primary btn-block ml-6 center"
          (click)="registerCompany()"
        >
          Registrar empresa</button
        >&nbsp;
        <button
          type="submit"
          class="btn btn-primary btn-block mt-10 center"
          (click)="registerUser()"
        >
          Registrar usuario
        </button>
      </p-dialog>
    </div>
  </div>
</div>
