<div class="pantalla">
  <div style="background-color: black">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img
            src="https://www.comunidad.madrid/sites/default/files/styles/colorbox_modal/public/doc/sanidad/drog/cannabis_plantacion.jpg?itok=E8HoucXT"
            class="d-block w-100 img-fluid img-opaca"
            alt="..."
          />
        </div>
        <div class="carousel-item" bsdata--interval="2000">
          <img
            src="https://www.cdc.gov/marijuana/featured-topics/images/cannabis-plant.jpg?_=33642"
            class="d-block w-100 img-fluid img-opaca"
            alt="..."
          />
        </div>
        <div class="carousel-item" bsdata--interval="2000">
          <img
            src="http://agenciadenoticias.unal.edu.co/fileadmin/Agencia_de_Noticias/Imagenes/2022/08-Agosto/362/AgenciaUNAL-010822-01.jpg"
            class="d-block w-100 img-fluid img-opaca"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>

  <div class="homecontainer">
    <div class="form-container-home">
      <h1>
        <button
          class="btn"
          data-bs-toggle="offcanvas"
          role="button"
          (click)="home()"
          aria-controls="offcanvasExample"
        >
          <img src="../../../assets/image/logo.png " width="70" height="50" />
          <div class="text-center text-white">HOME</div>
        </button>
      </h1>
    </div>
  </div>
  <div class="container box"></div>


  <div class="register-container">
    <div class="container">
      <form [formGroup]="forma">
        <h2 class="text-center">Registrarse</h2>
        <div class="form-row">
          <div class="form-group col-md-12 mt-1" >
            <label>Nombre</label>
            <input
              type="text"
              formControlName= "nombre"
              [class.is-invalid]="validacionNombre"
              name="nombre"
              [(ngModel)]="userRegister.first_name"
              class="form-control"
              required
            />
            <small *ngIf="validacionNombre" class="text-danger">El nombre es un campo requerido</small>
          </div>

          <div class="form-group col-md-12 mt-1">
            <label>Apellido</label>
            <input
              formControlName="apellido"
              [class.is-invalid] = "validacionApellido"
              type="text"
              name="userRegister.lastName"
              [(ngModel)]="userRegister.last_name"
              class="form-control"
              required
            />
            <small *ngIf="validacionApellido" class="text-danger">El apellido es un campo requerido</small>
          </div>

          <div class="form-group col-md-12 mt-1">
            <label>Cédula</label>
            <input
              formControlName="cedula"
              [class.is-invalid] = "validacionCedula"
              type="text"
              name="userRegister.nationalId"
              [(ngModel)]="userRegister.national_id"
              class="form-control"
              required
            />
            <small *ngIf="validacionCedula" class="text-danger" >Ingrese una cédula válida</small>
          </div>

          <div class="form-group col-md-12 mt-1">
            <label>Email</label>
            <input
              formControlName="email"
              [class.is-invalid] = "validacionEmail"
              type="email"
              name="userRegister.email"
              [(ngModel)]="userRegister.email"
              class="form-control"
              required
            />
            <small *ngIf="validacionEmail" class="text-danger">Ingrese un email válido</small>
          </div>

          <div class="form-group col-md-12 mt-1">
            <label>Contraseña</label>
            <input
              formControlName="password"
              [class.is-invalid] = "validacionPassword"
              type="password"
              name="userRegister.password"
              [(ngModel)]="userRegister.password"
              class="form-control"
              required
            />
            <small *ngIf="validacionPassword" class="text-danger">
              Ingrese una contraseña de minímo 8 carácteres
            </small>
          </div>

          <div class="form-group col-md-12 mt-1">
            <label>Número teléfonico</label>
            <input
              formControlName="telefono"
              [class.is-invalid] = "validacionTelefono"
              type="number"
              name="userRegister.phone_number"
              [(ngModel)]="userRegister.phone_number"
              class="form-control"
              required
            />
            <small *ngIf="validacionTelefono" class="text-danger">Ingrese un número teléfonico válido</small>
          </div>
        </div>
        <div class="register-button">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            (click)="register()"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

