<nav class="navbar fixed-up navbar-expand-lg navbar-dark bg-custom">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/image/logo2.png" width="55" height="55" />
        <span class="d-none d-md-inline custom-color">E-Commerce</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent"> 
        <form class="d-flex category-search"> 
            <div class="search-container">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="width: 600px">
                <i class="pi pi-search search-icon"></i>
            </div>
          <app-category-dropdown></app-category-dropdown>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" (click)="openFavoriteModal()">
              <i class="pi" [ngClass]="favoriteIcon ? 'pi-heart icon-heart' : 'pi-heart-fill icon-heart'" ></i>
            </a>
          </li>
          <div class="modal fade" [class.show]="isFavoriteModalOpen" id="favoriteModal" tabindex="-1" aria-labelledby="favoriteModalLabel" aria-hidden="true">
            
          </div>
          <li class="nav-item">
            <a class="nav-link">
              <i class="pi pi-shopping-cart icon-cart" ></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
