<div ng-controller="controller">
  <menu-bar></menu-bar>
  <div  style="background-color: black">
    <div class="bigBox">
    <div class="justify-content-center">
      <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/image/carousel/1.png" class="d-block w-100 img-fluid" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="../../assets/image/carousel/2.png" class="d-block w-100 img-fluid" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="../../assets/image/carousel/3.png" class="d-block w-100 img-fluid" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="../../assets/image/carousel/4.png" class="d-block w-100 img-fluid" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="../../assets/image/carousel/5.png" class="d-block w-100 img-fluid" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="../../assets/image/carousel/6.png" class="d-block w-100 img-fluid" alt="..." />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  </div>
    <!-- Esto es la seccion del home donde se muestran los beneficios de la marihuana -->
  <div name="beneficios" id="beneficios"class="tittle">
    <h1>Beneficios</h1>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active cuadro-opaco">
        <img src="../../assets//image//cannabis1.jpg"
          class="img-fluid " alt="..." />
        <div class="carousel-caption abs-center">
          <h3>Reducción de la ansiedad y el estrés</h3>
          <p> Algunas personas encuentran que el consumo de marihuana puede ayudar a aliviar los síntomas de ansiedad y estrés.
            Sin embargo, es importante tener en cuenta que las reacciones pueden variar de una persona a otra, y en algunos casos, el consumo de marihuana puede aumentar la ansiedad.</p>
        </div>
      </div>
      <div class="carousel-item cuadro-opaco">
        <img
          src="../../assets//image//cannabis2.jpg"
          class="img-fluid " alt="..." />
        <div class="carousel-caption abs-center">
          <h3>Alivio del dolor</h3>
          <p> La marihuana se ha utilizado tradicionalmente como analgésico. Los cannabinoides interactúan con los receptores del dolor en el sistema nervioso,
            lo que puede ayudar a reducir el dolor crónico, la inflamación y las molestias en general.</p>
        </div>
      </div>
      <div class="carousel-item cuadro-opaco">
        <img src="../../assets//image//cannabis3.jpg" class="img-fluid "
          alt="..." />
        <div class="carousel-caption abs-center">
          <h3>Tratamiento de condiciones médicas específica</h3>
          <p>En algunos casos, la marihuana se utiliza como parte del tratamiento para ciertas condiciones médicas,
             como el glaucoma, la esclerosis múltiple, el síndrome de Tourette y la epilepsia refractaria.
            Los cannabinoides pueden tener propiedades neuroprotectoras y anticonvulsivas que pueden ser beneficiosas en estos casos.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Esto es la seccion del home donde se muestran los tipos de semillas -->
  <div class="tittle" name="semillas" id="semillas">
    <h1>Conoce algunos tipos de semillas de cannabis</h1>
  </div>
  <div class="caja">
    <div class="images">
      <img src="../../assets/image/semillaw.png" class="img-fluid" alt="Imagen">
      <img src="../../assets/image/semilla1w.png" class="img-fluid" alt="Imagen">
      <img src="../../assets/image/semilla2w.png" class="img-fluid" alt="Imagen">

    </div>
  </div>

    <!-- Esto es la seccion del home donde se muestra el equipo de trabajo-->
  <div class="tittle2" name="desarrollo" id="desarrollo">
    <h1>Conoce nuestro equipo de trabajo</h1>
  </div>
  <section>
    <div class="container1">
      <div class="card">
        <div class="box1">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/laura.png" alt="Imagen">
            </div>
            <div class="name-profession">
              <span class="name">Laura Jaimes</span>
              <br>
              <span class="profession">Desarrolladora frontend</span>
            </div>
            <div class="about">
              <p>Soy una desarrolladora junior frontend con experiencia en vue, react, angular y sus derivadas. Me gusta mucho el desarrollo web y el trabajo colaborativo.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="box2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/mayra.png" alt="Imagen">
            </div>
            <div class="name-profession">
              <span class="name">Mayra Sanchez</span>
              <br>
              <span class="profession">Desarrolladora frontend</span>
            </div>
            <div class="about">
              <p>Soy una desarrolladora junior frontend entusiasta y apasionada por el mundo de la tecnología. Mi objetivo es combinar mi creatividad y mis habilidades técnicas para contribuir al desarrollo de soluciones innovadoras.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="box3">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/marlon.png" alt="Imagen">
            </div>
            <div class="name-profession">
              <span class="name">Marlon Anacona</span>
              <br>
              <span class="profession">Desarrollador fullstack</span>
            </div>
            <div class="about">
              Soy un desarrollador junior full stack con casi un año en el mundo laboral. Me gusta mucho la parte del
              desarrollo con enfasis en backend y bases de datos. en java spring boot y Oracle respectivamente.
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="box1">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/gabriel.png" alt="Imagen">
            </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-github"></i>
            </div>
            <div class="name-profession">
              <span class="name">Gabriel Franco</span>
              <br>
              <span class="profession">Desarrollador frontend</span>
            </div>
            <div class="about">
              <p>Soy un desarrollador junior frontend, con experiencia en el desarrollo con react y angular, con muy buena actitud de salir adelante y mejorar en cada detalle, enseñando y aprendiendo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="container2">
      <br>
      <div class="card">
        <div class="box2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/santiago.png" alt="Imagen">
            </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-github"></i>
            </div>
            <div class="name-profession">
              <span class="name">Santiago Casañas</span>
              <br>
              <span class="profession">Desarrollador backend</span>
            </div>
            <div class="about">
              <p>Soy un desarrollador junior en backend, estudiante de ingeniería de sistemas con gusto por el desarrollo backend con python y en continuo aprendizaje.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="box3">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/jesus.png" alt="Imagen">
            </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-github"></i>
            </div>
            <div class="name-profession">
              <span class="name">Jesus Peña</span>
              <br>
              <span class="profession">Desarrollador backend</span>
            </div>
            <div class="about">
              <p>Soy un desarrollador junior</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="box1">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/bailon.png" alt="Imagen">
            </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-github"></i>
            </div>
            <div class="name-profession">
              <span class="name">Juan Jose Bailon</span>
              <br>
              <span class="profession">Desarrollador backend</span>
            </div>
            <div class="about">
              <p>Soy un desarrollador junior backend, con enfasis en python, Dispuesto a recibir y dar ayuda en todo lo relacionado en el mundo del desarrollo.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="box2">
          <div class="card-content">
            <div class="image">
              <img src="../../assets/image/pepa.png" alt="Imagen">
            </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-github"></i>
            </div>
            <div class="name-profession">
              <span class="name">Alexander Valencia</span>
              <br>
              <span class="profession">Desarrollador backend</span>
            </div>
            <div class="about">
              <p>Soy un desarrollador junior fullstack, me apasiona mucho el mundo del desarrollo de software y estoy dispuesto aprender cada dia más de este maravilloso mundo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>

  <!-- <div class="containerSeeds">
    <div class="boxSeed">
      <div class="imgBox">
        <img src="https://matillaplant.com/blog-marihuana/wp-content/uploads/2020/04/marihuana-de-colores-verde.jpg" alt="">
      </div>
      <div class="contentBox">
          <h1>Marihuanol
            <br>
            <span>La marihuana como uso medicinal se ha utilizado desde muchos paises con el objetivo de calmar el dolor de las enfermades</span>
          </h1>
      </div>
    </div>
  </div> -->
  <br>
  <app-footer></app-footer>
</div>
