<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <a class="navbar-brand" href="#"
          >WeedWeb
          <img src="tu-imagen-aqui" alt="Logo" />
        </a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Login">Inicio de sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Info">Quiénes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Catalogo">Catalogo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="../../../assets/image/iconMenu.png"
        alt="Logo"
        width="75 "
        height="75 "
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Login">Inicio de sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#beneficios">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#semillas">Semillas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#desarrollo">Team </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
