<div
  class="offcanvas offcanvas-start text-bg-dark"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Map">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard">Estadisticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Time">Pronostíco de tiempo</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li> -->
    </ul>
    <form class="d-flex mt-3" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-success" type="submit">Buscar</button>
    </form>
  </div>
</div>

<nav class="navbar fixed-up navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <!-- <img src="../../../assets/image/logo.png" width="75 " height="75 " /> -->
      <button
        class="btn btn-dark"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
      >
        <img src="../../../assets/image/logo.png " width="70" height="50" />
        <div class="text-center">MENU</div>
      </button>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=" ">Hola, </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Login">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
