.center {
    margin-left: auto;
    margin-right: auto;
    /* display: grid; */
    place-items: center;
    justify-content: space-around;
}

.titulo {
    font-size: 30;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}