.center {
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    justify-content: space-around;
}

.titulo {
    font-size: 30;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.contenido {
    padding: 50px; /* Añade espacio alrededor del contenido */
    background-color: #C3D9C9;
    height: 100%;
}


